@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: #333333;
  --Dark-Grey: #1f1f1f;
  --Off-Black: hsl(0, 0%, 8%);
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

/* Customize colors */

/* --Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey: #333333;
--Dark-Grey: #1f1f1f;
--Off-Black: hsl(0, 0%, 8%); */

.green {
  color: #c5f82a;
}

.white {
  color: #ffffff;
}
.grey {
  color: #333;
}
.dark-grey {
  color: #1f1f1f;
}
.off-black {
  color: #141414;
}
